<footer class="container">
    <div class="row">
        <div class="col-lg-10 col-sm-8">
            <p>&copy; Dariusz Huk {{date}}</p>
        </div>
        <div class="col-lg-2 col-sm-4">
            <a href="https://www.linkedin.com/in/dariuszhuk/" target="_blank" class="float-right">
                <i class="fa fa-linkedin-square fa-3x"></i>
            </a>
            <a href="https://github.com/dh9325" target="_blank" class="float-right">
                <i class="fa fa-github-square fa-3x"></i>
            </a>
        </div>
    </div>
</footer>