<main role="main">

    <app-jumbotron></app-jumbotron>

    <div class="container">
        <section id="#learn-more">
            <div>
                <h2>Little About Me</h2>
                <p>I am a professional Software Developer based in Kent (UK) where I live with my lovely family: my wife and
                    daughter. I hold a bachelor's degree in Computing & IT and Business. In my spare time, which is not that
                    often nowadays, I enjoy playing on one of my guitars or being active playing tennis, basketball or some
                    other sports. Occasionally I like to meet with my friends for a nice conversation over a pint.
                </p>
                <h2>Front-end, Back-end or Full-stack? Development or Engineering?</h2>
                <p>Yep, this may get confusing. I consider myself falling into one of the following categories: Software
                    Developer/Engineer or Full-stack Web Developer. The reason for that is that I am proficient in technologies
                    allowing me to create fully working web applications - both client and server side code. At the moment my
                    focus is
                    on the web but am also interested in cross-platform technologies such as
                    <a href="https://www.nativescript.org/" target="_blank">NativeScript</a>
                    or <a href="http://www.reactnative.com/" target="_blank">React Native</a> that allow to create mobile apps
                    for a range of platforms using pretty much the same codebase. And who knows I might be writing games in C#
                    in the future.
                </p>
            </div>
            <div>
                <h2>Technology Stack</h2>
                <p>Below is a list of technologies and tools that I use. I only included ones that I am actively working
                    with as the list would probably be much longer.</p>
                <div class="row">
                    <div class="col-md-4">
                        <h3>Front-end</h3>
                        <ul>
                            <li>JavaScript</li>
                            <li>TypeScript</li>
                            <li>Angular</li>
                            <li>AngularJS</li>
                            <li>Jasmine</li>
                            <li>Karma</li>
                            <li>Gulp</li>
                            <li>Webpack</li>
                            <li>jQuery</li>
                            <li>LESS</li>
                            <li>Bootstrap</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Back-end</h3>
                        <ul>
                            <li>PHP</li>
                            <li>SQL</li>
                            <li>NodeJS</li>
                            <li>Yii2</li>
                            <li>Codeception</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Other</h3>
                        <ul>
                            <li>Docker</li>
                            <li>AWS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="#projects">
            <h2>Projects</h2>
            <p>To see my public projects go to my Github profile <a href="https://github.com/dh9325"
                                                                    target="_blank">here</a>.
                I have also created different versions of this site to showcase my knowledge of different technologies and
                frameworks - I know, I know... "simples", right? Check them out here:
            </p>
            <ul>
                <li><a href="http://dariuszh.uk">No JS / CSS frameworks</a></li>
            </ul>
        </section>

        <section id="#contact">
            <h2>Contact Me</h2>
            <p>Due to time constraints I do not get involved in any freelance projects or work at the moment. But if you
                have an exciting project or idea and you'd like me to help you turn it into reality please feel free to get
                in touch - I may be available. Alternatively if you consider hiring me for a full-time position or a
                contract work - please message me using <a href="https://www.linkedin.com/in/dariuszhuk/" target="_blank">LinkedIn</a>.
            </p>
        </section>

        <hr>

    </div> <!-- /container -->

</main>